---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook
  namespace: default
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: applications/guestbook
    repoURL: https://github.com/santisaez/example
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
